// This is the single file output by sass. It is intended to ONLY @import other files.

// BASE
@import "fonts";
@import "variables";
@import "normalize";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: line-through;
    color: yellow;
  }
}
