// BASE
@import "fonts";
@import "variables";
@import "normalize";

// GLOBAL

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
}

// COMMON

.container {
  width: 70%;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}

// BODY

body {
  background-color: $grey_200;
}

// HEADER

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: theme_spacing(7);

  .logo {
    display: flex;
    align-items: flex-start;
    gap: theme_spacing(0.5);
  }

  .nav {
    .nav-item {
      display: inline-block;
      padding: theme_spacing(1);

      &.active,
      &:hover {
        cursor: pointer;
        background-color: $black;
        color: $white;
      }
    }
  }
}

// MAIN

#main {
  padding-top: theme_spacing(7);
  height: calc(100vh - theme_spacing(7));
}

// ABOUT

#about {
  height: 100%;
}

// SKILL

#skill {
  height: 100%;
}

// PROJECT

#project {
  height: 100%;
}

// CONTACT

#contact {
  height: 100%;
}
